@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

:root {
  --bg: #f7f7f7;
  --card: #ffffff;
  --card-soft: #fafafa;
  --text: #111111;
  --text-secondary: #707070;
  --text-muted: #9a9a9a;
  --border: #e9e9e9;
  --primary: #8b5cf6;
  --primary-dark: #7c3aed;
  --primary-light: #eee5ff;
  --success: #16b364;
  --success-light: #e4f8ed;
  --danger: #ef4444;
  --danger-light: #feecec;
  --warning: #f59e0b;
  --warning-light: #fff5dc;
  --font: "Plus Jakarta Sans", sans-serif;
  --radius-sm: 10px;
  --radius-md: 18px;
  --radius-lg: 26px;
  --radius-xl: 32px;
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.02), 0 4px 12px rgba(0, 0, 0, 0.03);
  --shadow-md: 0 4px 20px rgba(0, 0, 0, 0.05);
}


/* =========================
   SCROLLBAR
========================= */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d6d6d6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bdbdbd;
}